# 1. Print numbers from 1 to 5 using a while loop

In [1]:
# display a number series from 1 to 5
numeric_variable = 1
while numeric_variable <=5:
    print(numeric_variable)
    numeric_variable += 1

1
2
3
4
5

# 2. Calculate the sum of numbers from 1 to 10 using a while loop

In [2]:
# sum of numbers 1 to 10
numb_variable = 0
numb_variable1 = 10
while numb_variable1 != 0:
    numb_variable += numb_variable1
    numb_variable1 -=1
print(f"sum of 1 to 10 = {numb_variable}")

sum of 1 to 10 = 55

In [3]:
#sum of the list item in dynamic way
list5 = [5,8,4,3,6,8,1,6,4]
start = 0
for i in list5:
    start += i
    if i == list5[len(list5)-1]:
        continue
    print(i, end=" + ")
else:
    print(f"{i} = {start}")

5 + 8 + 3 + 6 + 8 + 1 + 6 + 4 = 45

# 3. Calculate the factorial of a number using a for loop

In [4]:
# to find out factorial
factorial = int(input("Question: - find the factorial of "))
start_num = 1
for i in range(factorial,0,-1):
    start_num = start_num * i
print(f"Ans: - factorial of {factorial} is {start_num}")

Question: - find the factorial of 6
Ans: - factorial of 6 is 720

# 4. Count the number of vowels in a string using a for loop

In [5]:
# vowels counting in string
var1 = input("Question: - How many vowels in ")
vowels_count = 0
for i in var1:
    if i in "aeiouAEIOU":
        vowels_count += 1
print(f"Ans: - Total vowels in '{var1}' is {vowels_count}")

Question: - How many vowels in Chander Parkash
Ans: - Total vowels in 'Chander Parkash' is 4

In [6]:
# vowels counting in string and show all vowels of the string or sentence
var2 = input("Question: - How many vowels in ")
vowels_count2 = []
for i in var2:
    if i in "aeiouAEIOU":
        vowels_count2.append(i)

print(f'Ans: - Total vowels in "{var2}" is {len(vowels_count2)} i.e. {vowels_count2}')

Question: - How many vowels in My name is Chander Parkash
Ans: - Total vowels in "My name is Chander Parkash" is 7 i.e. ['a', 'e', 'i', 'a', 'e', 'a', 'a']

# 5. Print a pattern using nested loops

In [7]:
# try new pattern by using nested loops
for i in range(5):
    for j in range(i+1):
        print('*', end = " ")
    print()
for i in range(5)[::-1]:
    for j in range(i):
        print('*', end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 6. Generate a multiplication table using nested loops

In [8]:
# Generate a multiplication table with single loop
table = int(input("enter the value to generate table = "))
print()
for i in range (10):
    print(f"{table} X {i+1} = {table*(i+1)}")

enter the value to generate table = 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [9]:
#generate a multiplication table with single loop
table = int(input("enter the value to generate table = "))
print()
for i in range (1,11):
    print(f"{table} X {i} = {i*table}")

enter the value to generate table = 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [10]:
#Generate a multiplication table using nested loops
max_number = int(input("enter the number which display in form of tables = "))
print()
for i in range(1, max_number+1):
  for j in range(1, 11):
    print(f"{i} x {j} = {i*j}")
  print()

enter the number which display in form of tables = 5

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50